fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
redis
pydantic
email-validator
bcrypt==4.0.1
pypdf
python-docx
beautifulsoup4
markdown
sentence-transformers
chromadb
rank-bm25
sentence-transformers